body {
    font-size: 2.0em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    
}
 td {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}