body {
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: space-between;
    justify-content: space-evenly;
    height: 100vh;
    background-color: black;
    color: white;
}
 td {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}